<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello World</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="styles.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <script>

  </script>

</head>

<body>

  <div id="wrapper">
    <div id="platform-wrapper">
      <div id="headingStyles"><span>SAFE: Safe Aaptable and Flexible Education</span></div>


      <div class="safe-content-wrapper">
        <div class="input-video-wrapper">

          <div class="input-wrapper">

            <label for="URL">
              <input id="myVideoURL" class="video-url" type="text" name="url" placeholder="Enter Video URL" />
            </label>

            <Button id="selectionButton" class="mr-3">Submit</Button><br />

          </div>

        </div>

        <div class="video-player-wrapper">
          <video controls="" name="media" class="video-player">
            <source src="" download type="video/mp4">
          </video>
        </div>


        <div class="browseWrapper">


          <input class="Browsebutton" type="file" id="myfile" name="DownloadedFile">

        </div>
        <div class="dropdown SelectLanguagebutton">

          <select class="form-control" id="sel1">
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="Hindi">Hindi</option>
            <option value="French">French</option>
          </select>
        </div>
        <Button class="changeLanguage" class="mr-3">Change Language</Button>

      </div>


      <div class="accordion" id="platformAdvantages">
        <div class="card">
          <div class="card-header" id="headingOne">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              First Step to SAFE learning
            </button>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Paste Direct Video URL in the input box and click Submit button
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Second Step to SAFE learning
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Check Your video then click on video control(more options) and click download.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Third Step to SAFE learning
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Browse your downloaded file.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              Fourth Step to SAFE learning
            </button>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              Select desired Language
            </div>
          </div>
        </div>



        <div class="card">
          <div class="card-header" id="headingFive">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              Fifth and final Step to SAFE learning
            </button>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              Click on Change Language buton. Give time for processing then, Enjoy your video.
              <br /><b>SAFE learning</b>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <script>
    $("#selectionButton").click(function () {
      var str = $("#myVideoURL").val();
      console.log(str);
      $(".video-player").get(0).pause();
      $(".video-player").attr('src', str);
      $(".video-player").get(0).load();
      $(".video-player").get(0).play();

    });
    $(".changeLanguage").click(function () {
      var strLanguage = $("#sel1").val();
      var videolink = $(".Browsebutton").val();


      url = "?language=" + strLanguage + "&&downloadedVideo=" + videolink;
      url = location.protocol + '//' + location.host + location.pathname + url;
      window.location = url;
    });

    jQuery('#accordion .panel-heading').not(this).removeClass('isOpen');
    jQuery(this).toggleClass('isOpen');
    jQuery(this).next(".panel-collapse").addClass('thePanel');
                //jQuery('#accordion .panel-collapse').not('.thePanel').slideUp("fast");
                //jQuery(".thePanel").slideToggle("fast").removeClass('thePanel');

    // $('input[type=file]').change(function () {
       //console.log("hello");
      //console.log(this.files[0]);
    //});
  </script>
</body>


</html>