  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAFE: Safe Aaptable and Flexible Education </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


    <script>

    </script>

  </head>

  <body>

    <div id="wrapper">
      <div id="platform-wrapper">
        <div id="headingStyles"><span><span class="safe-image-wrapper"><img class="responsive-image safe-image" src="assets/image/safe.jpeg" alt="safe_logo"></span></div>


        <div class="safe-content-wrapper">
          <div class="input-video-wrapper">

            <!--div class="input-wrapper">

              <label for="URL">
                <input id="myVideoURL" class="video-url" type="text" name="url" placeholder="Enter Video URL" />
              </label>

              <Button id="selectionButton" class="mr-3">Submit</Button><br />

            </div--->

          </div>

          <div class="video-player-wrapper">
            <video controls="" name="media" class="video-player" poster="assets/image/language1.png">
              <source src="" download type="video/mp4">
              </video>
            </div>


            <div class="browseWrapper">


              <input class="Browsebutton" type="file" id="myfile" name="DownloadedFile">

            </div>
            <div class="dropdown SelectLanguagebutton">

              <select class="form-control" id="sel1">
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
                <option value="Hindi">Hindi</option>
                <option value="French">French</option>
                <option value="Tamil">Tamil</option>
                <option value="Arabic">Arabic</option>
                <option value="Belarusian">Belarusian</option>
                <option value="Bengali">Bengali</option>
                <option value="Dutch">Dutch</option>
                <option value="Gujarati">Gujarati</option>
                <option value="Indonesian">Indonesian</option>
                <option value="Japanese">Japanese</option>
                <option value="Kannada">Kannada</option>
                <option value="Malayalam">Malayalam</option>
                <option value="Punjabi">Punjabi</option>
                <option value="Russian">Russian</option>
                <option value="Telugu">Telugu</option>
                <option value="Urdu">Urdu</option>
                <option value="Italian">Italian</option>
              </select>
            </div>
            <Button class="changeLanguage" class="mr-3">Change Language</Button>

          </div>


          <div class="accordion" id="platformAdvantages">
          <!--div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                First Step to SAFE learning
              </button>
            </div>

            <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Paste Direct Video URL in the input box and click Submit button
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Second Step to SAFE learning
              </button>
            </div>
            <div id="collapseTwo"  aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Check Your video then click on video control(more options) and click download.
              </div>
            </div>
          </div-->
          <div class="card">
            <div class="card-header" id="headingThree">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              First Step to SAFE learning
            </button>
          </div>
          <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Browse your downloaded file.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            Second Step to SAFE learning
          </button>
        </div>
        <div id="collapseFour"  aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Select desired Language
          </div>
        </div>
      </div>



      <div class="card">
        <div class="card-header" id="headingFive">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
          aria-expanded="false" aria-controls="collapseFive">
          Third and final Step to SAFE learning
        </button>
      </div>
      <div id="collapseFive"  aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          Click on Change Language buton. Give time for processing then, Enjoy your video.
          <br /><b>SAFE learning</b>
        </div>
      </div>
    </div>

  </div>

</div>
</div>
<script>
  $("#selectionButton").click(function () {
    var str = $("#myVideoURL").val();
    $(".video-player").get(0).pause();
    $(".video-player").attr('src', str);
    $(".video-player").get(0).load();
    $(".video-player").get(0).play();
  });
  $(".changeLanguage").click(function () {

    $(".video-player").attr('poster', "assets/image/loading.gif");
    var strLanguage = $("#sel1").val();
    var videolink = $(".Browsebutton").val();
    url = "name?firstname=" + strLanguage + "&lastname=" + videolink;
    url = location.protocol + '//' + location.host + location.pathname + url;
    window.location = url;
    $(".video-player").get(0).pause();
       /* if(strLanguage == 'French') {
          
          $(".video-player").attr('src', 'assets/video/output_video_file_french.mp4');
        } else if(strLanguage == 'Spanish') {
          $(".video-player").attr('src', 'assets/video/output_video_file_spanish.mp4');
        } else if(strLanguage == 'Hindi') {
          $(".video-player").attr('src', 'assets/video/machine_hindi.mp4');
        } else if(strLanguage == 'Tamil') {
          $(".video-player").attr('src', 'assets/video/output_video_file_tamil.mp4');
        }*/
        /*var interval = null;
        interval= setInterval(searchVideo, 3000);
        function searchVideo(){   $.ajax({
            url:'assets/video/output.mp4',
            type:'HEAD',
              error: function()
            {
              console.log("NO");
            },
              success: function()
            {
              //file exists
              console.log("yes");
              
              //$(".video-player").get(0).pause();
              setTimeout(function(){  $(".video-player").attr('src', 'assets/video/output.mp4');
              $(".video-player").get(0).load();
              $(".video-player").get(0).play();
               }, 50000);
             
             
              clearInterval(interval);
              window.stop();
            }
          });
        }*/
        // $(".video-player").get(0).load();
        // $(".video-player").get(0).play();

        count=1;
        
        getNotAvailableVideo(count);
        function getNotAvailableVideo(){  
          newURL="assets/video/output"+count+".mp4";
          $.ajax({
            url:newURL,
            type:'HEAD',
            success: function()
            {
              //file exists
              return getNotAvailableVideo(count++)
            }, error: function()
            {
              //file not exists
              console.log(count);
              return doInterval(count)
            }
          });
        }

        
        function doInterval(videoToGenerateIndex){ 
          interval= setInterval(searchVideo(videoToGenerateIndex), 3000);
        };

        function searchVideo(videoToGenerateIndex){  
          developVideoURL="assets/video/output"+videoToGenerateIndex+".mp4";
          $.ajax({
            url:developVideoURL,
            type:'HEAD',
            error: function()
            {
              console.log("no");
              setTimeout(function(){
                return searchVideo(videoToGenerateIndex)
              },3000);
            },
            success: function()
            {

              console.log("yes");
              window.stop();
              //$(".video-player").get(0).pause();
              setTimeout(function(){  $(".video-player").attr('src', developVideoURL);
                $(".video-player").get(0).load();
                $(".video-player").get(0).play();
                
              }, 50000);
              

            }
          });
        }

      });

  jQuery('#accordion .panel-heading').not(this).removeClass('isOpen');
  jQuery(this).toggleClass('isOpen');
  jQuery(this).next(".panel-collapse").addClass('thePanel');

</script>
</body>


</html>